.SRSlist ul {
  list-style-type: none; /* Remove bullets */
  padding-inline-start: 0;
}

.SRSlistTitle {
  font-weight: bold;
}

.SRSlistText {
  font-size: 18px;
}

.SRSlistText > div {
  margin-right: 10px;
  display: inline-block;
}

.material-icons {
  font-size: 18px !important;
  vertical-align: middle;
}

.material-symbols-outlined {
  font-size: 18px !important;
  vertical-align: middle;
}
