/* styles.css */
/* Hide the default checkbox input */
.switch input[type="checkbox"] {
    display: none;
}

/* Style the slider (the switch) */
.switch .slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* Style the slider's circle (the thumb) */
.switch .slider:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    left: 0;
    transition: transform 0.2s;
}

/* Change the background color of the slider when the checkbox is checked (on) */
.switch input[type="checkbox"]:checked+.slider {
    background-color: #008e72;
    /* Blue color, change to your desired "on" color */
}

/* Move the circle (thumb) to the right when the checkbox is checked (on) */
.switch input[type="checkbox"]:checked+.slider:before {
    transform: translateX(30px);
}